{% extends 'base.html' %}
{% block title %}Orders{{ block.super }}{% endblock title %}
{% block content %}
    <p>Order(s) info:</p>
    <div class="order-container">
        {% if uzsakymas.uzsakymoEilutes.all %}
            {% for uzsakymo_eilute in uzsakymas.uzsakymoEilutes.all %}
                <div class="order-block {% if uzsakymo_eilute.uzsakymas.is_overdue %}overdue{% endif %}">
                    <ul>
                        <li>Service: {{ object.paslauga.name }}</li>
                        <li>Client's name: {{ uzsakymo_eilute.uzsakymas.car.user }}</li>
                        <li>Order date: {{ uzsakymo_eilute.uzsakymas.order_date }}</li>
                        <li>Order count: {{ uzsakymo_eilute.count }}</li>
                        <li>Car model: {{ uzsakymo_eilute.uzsakymas.car }}</li>
                        <li>Status: {{ uzsakymo_eilute.uzsakymas.get_status_display }}</li>
                        <li>Total price: {{ uzsakymo_eilute.total_price }}€</li>
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No orders yet</p>
        {% endif %}
    </div>
    <p>Total price of all orders: {{ total_price }}€</p>
{% endblock content %}