{% extends 'base.html' %}
{% block title %}Orders{{ block.super }}{% endblock title %}
{% block content %}
{% if user == order.user or user.is_staff or user.is_superuser %}
{% if user.is_staff or user.is_superuser %}
    <h1>{{ automobilis }} <a href="{% url 'add_service' pk=order.pk %}">Add Service</a> </h1>
{% endif %}
{% else %}
    <h1>{{ automobilis }}</h1>
{% endif %}
    <div class="order-container">
        {% if uzsakymas.uzsakymoEilutes.all %}
            {% for uzsakymo_eilute in uzsakymas.uzsakymoEilutes.all %}
                <div class="order-block {% if uzsakymo_eilute.uzsakymas.is_overdue %}overdue{% endif %}">
                    <ul>
                        <li>Service: {{ uzsakymo_eilute.paslauga.name }}</li>
                        <li>Client's name: {{ uzsakymo_eilute.uzsakymas.car.user }}</li>
                        <li>Order date: {{ uzsakymo_eilute.uzsakymas.order_date }}</li>
                        <li>Order count: {{ uzsakymo_eilute.count }}</li>
                        <li>Car model: {{ uzsakymo_eilute.uzsakymas.car }}</li>
                        <li>Status: {{ uzsakymo_eilute.uzsakymas.get_status_display }}</li>
                        <li>Total price: {{ uzsakymo_eilute.total_price }}€</li>
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No orders yet</p>
        {% endif %}
    </div>
    <p>Total price of all orders: {{ total_price }}€</p>
<h2>Comments</h2>
{% if user.is_authenticated %}
    {% if uzsakymas.comments.count > 0 %}
        <ul>
            {% for comment in uzsakymas.comments.all %}
            <li>{{ comment.commented_at }} by <a href="{% url 'profile' comment.commentator.id %}">
                    {% if comment.commentator.profile.picture %}
                        <img src="{{ comment.commentator.profile.picture.url }}" class="user-avatar">
                    {% endif %}
                    {{ comment.commentator }}</a><br> 
                    {{ comment.content }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user == uzsakymas.user or user.is_staff or user.is_superuser %}
        <form method="post" action="{{ request.path }}">
            <h3>Leave your comment</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post</button>
        </form>
    {% else %}
        <p class="box box-info">Only the person whose order it is, staff, or superuser can leave a comment.</p>
    {% endif %}
{% else %}
    <p class="box box-info">If you want to post a comment, you have to <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a>.</p>
{% endif %}
{% endblock content %}